<h2>Sign up</h2>
<div class="validation" style="display:none">
<p>There is an error :</p>
<p>There was an error with the recaptcha code below. Please re-enter the code.</p>
<% if params[:first_name].blank? %>
  <p>First name can't be blank!</p>
<%end%>
<% if params[:last_name].blank? %>
  <p>Last name can't be blank!</p>
<%end%>
<% if params[:email].blank? %>
  <p>Email can't be blank!</p>
<%end%>
<% if params[:password].blank? %>
  <p>Password can't be blank!</p>
<%end%>
<% if params[:password_confirmation].blank? %>
  <p>Password confirmation can't be blank!</p>
<%end%>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "registration-form"}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "off" %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off" %></div>

  <div><%#= recaptcha_tags %></div>

  <div><%= link_to "Sign Up", "javascript:void(0)", class: "submit_button" %></div>
<% end %>
<%= render "ajax" %>
<%= render "users/shared/links" %>
