<h2>Update Profile</h2>

<%= form_for(@user, :html => {:multipart => true, :remote => true}) do |f| %>
<div class="validation" style="display:none">
<p>There is an error :</p>
<% if params[:first_name].blank? %>
  <p>First name can't be blank!</p>
<%end%>
<% if params[:last_name].blank? %>
  <p>Last name can't be blank!</p>
<%end%>
<% if params[:email].blank? %>
  <p>Email can't be blank!</p>
<%end%>
<% if params[:password].blank? %>
  <p>Password can't be blank!</p>
<%end%>
<% if params[:password_confirmation].blank? %>
  <p>Password confirmation can't be blank!</p>
<%end%>
</div>
	<div>
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name %>
	</div>
	<div>
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name %>
	</div>
	<div>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :confirmation %>
	</div>
	<div>
		<%= f.label :avatar %><br/>
		<%= f.file_field :avatar %>
		<br/>
		<% unless @user.avatar.nil? %>
		  <%= image_tag @user.avatar.url(:thumb) %>
		<%end%>
	</div>
	<br/>
	<%= f.hidden_field :id %>
	<div><%= link_to "Update", "javascript:void(0)", class: "submit_button" %></div>
<%end%>

<%= render "ajax" %>