<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%#= f.submit "Send me reset password instructions" %>
  	<%= link_to "Send me reset password instructions",  "javascript:void(0)", :id => "submit_form" %>
  </div>
<% end %>
<%= render "ajax" %>
<%= render "users/shared/links" %>
